
{% include "Gheader.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

<div class="container">






            <h2>Homepage<button type="button" class="btn  pull-right" data-toggle="modal" data-target="#myModal"><a href="{{ url_for('users') }}">Users</a></button>
			<button type="button" class="btn  pull-right" data-toggle="modal" data-target="#myModal"><a href="{{ url_for('groups') }}">Groups</a></button>
			<button type="button" class="btn  pull-right" data-toggle="modal" data-target="#myModal">Logout</button></h2>







  {% include "footer.html" %}
    </div>



<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
